---

_You are currently looking at **version 1.2** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# Assignment 2 - Pandas Introduction
All questions are weighted the same in this assignment.
## Part 1
The following code loads the olympics dataset (olympics.csv), which was derrived from the Wikipedia entry on [All Time Olympic Games Medals](https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table), and does some basic data cleaning. 

The columns are organized as # of Summer games, Summer medals, # of Winter games, Winter medals, total # number of games, total # of medals. Use this dataset to answer the questions below.

In [1]:
import os
os.chdir('D:\Classes\[Coursera] Introduction to Data Science in Python')

!cat olympics.csv

0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
,â„– Summer,01 !,02 !,03 !,Total,â„– Winter,01 !,02 !,03 !,Total,â„– Games,01 !,02 !,03 !,Combined total
AfghanistanÂ (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
AlgeriaÂ (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
ArgentinaÂ (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
ArmeniaÂ (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
AustralasiaÂ (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12
AustraliaÂ (AUS) [AUS] [Z],25,139,152,177,468,18,5,3,4,12,43,144,155,181,480
AustriaÂ (AUT),26,18,33,35,86,22,59,78,81,218,48,77,111,116,304
AzerbaijanÂ (AZE),5,6,5,15,26,5,0,0,0,0,10,6,5,15,26
BahamasÂ (BAH),15,5,2,5,12,0,0,0,0,0,15,5,2,5,12
BahrainÂ (BRN),8,0,0,1,1,0,0,0,0,0,8,0,0,1,1
BarbadosÂ (BAR) [BAR],11,0,0,1,1,0,0,0,0,0,11,0,0,1,1
BelarusÂ (BLR),5,12,24,39,75,6,6,4,5,15,11,18,28,44,90
BelgiumÂ (BEL),25,37,52,53,142,20,1,1,3,5,45,38,53,56,147
BermudaÂ (BER),17,0,0,1,1,7,0,0,0,0,24,0,0,1,1
BohemiaÂ (BOH) [BOH] [Z],3,0,1,3,4,0,0,0,0,0,3,0,1,3,4
BotswanaÂ (BOT),9,0,1,0,1,0,0,0,0,0,9,0,1,0,1
BrazilÂ (BRA),21,23,30,55,108,7,0,0,0,0,28,23,30,55,108
British West IndiesÂ (BWI) [BWI],1,0,0,2,2,0,0,0,0,0,1,0,0,2,2
BulgariaÂ (BUL) [H],19,51,85,78,214,19,1,2,3,6,38,52,87,81,220
BurundiÂ (BDI),5,1,0,0,1,0,0,0,0,0,5,1,0,0,1
CameroonÂ (CMR),13,3,1,1,5,1,0,0,0,0,14,3,1,1,5
CanadaÂ (CAN),25,59,99,121,279,22,62,56,52,170,47,121,155,173,449
ChileÂ (CHI) [I],22,2,7,4,13,16,0,0,0,0,38,2,7,4,13
ChinaÂ (CHN) [CHN],9,201,146,126,473,10,12,22,19,53,19,213,168,145,526
ColombiaÂ (COL),18,2,6,11,19,1,0,0,0,0,19,2,6,11,19
Costa RicaÂ (CRC),14,1,1,2,4,6,0,0,0,0,20,1,1,2,4
Ivory CoastÂ (CIV) [CIV],12,0,1,0,1,0,0,0,0,0,12,0,1,0,1
CroatiaÂ (CRO),6,6,7,10,23,7,4,6,1,11,13,10,13,11,34
CubaÂ (CUB) [Z],19,72,67,70,209,0,0,0,0,0,19,72,67,70,209
CyprusÂ (CYP),9,0,1,0,1,10,0,0,0,0,19,0,1,0,1
Czech RepublicÂ (CZE) [CZE],5,14,15,15,44,6,7,9,8,24,11,21,24,23,68
CzechoslovakiaÂ (TCH) [TCH],16,49,49,45,143,16,2,8,15,25,32,51,57,60,168
DenmarkÂ (DEN) [Z],26,43,68,68,179,13,0,1,0,1,39,43,69,68,180
DjiboutiÂ (DJI) [B],7,0,0,1,1,0,0,0,0,0,7,0,0,1,1
Dominican RepublicÂ (DOM),13,3,2,1,6,0,0,0,0,0,13,3,2,1,6
EcuadorÂ (ECU),13,1,1,0,2,0,0,0,0,0,13,1,1,0,2
EgyptÂ (EGY) [EGY] [Z],21,7,9,10,26,1,0,0,0,0,22,7,9,10,26
EritreaÂ (ERI),4,0,0,1,1,0,0,0,0,0,4,0,0,1,1
EstoniaÂ (EST),11,9,9,15,33,9,4,2,1,7,20,13,11,16,40
EthiopiaÂ (ETH),12,21,7,17,45,2,0,0,0,0,14,21,7,17,45
FinlandÂ (FIN),24,101,84,117,302,22,42,62,57,161,46,143,146,174,463
FranceÂ (FRA) [O] [P] [Z],27,202,223,246,671,22,31,31,47,109,49,233,254,293,780
GabonÂ (GAB),9,0,1,0,1,0,0,0,0,0,9,0,1,0,1
GeorgiaÂ (GEO),5,6,5,14,25,6,0,0,0,0,11,6,5,14,25
GermanyÂ (GER) [GER] [Z],15,174,182,217,573,11,78,78,53,209,26,252,260,270,782
United Team of GermanyÂ (EUA) [EUA],3,28,54,36,118,3,8,6,5,19,6,36,60,41,137
East GermanyÂ (GDR) [GDR],5,153,129,127,409,6,39,36,35,110,11,192,165,162,519
West GermanyÂ (FRG) [FRG],5,56,67,81,204,6,11,15,13,39,11,67,82,94,243
GhanaÂ (GHA) [GHA],13,0,1,3,4,1,0,0,0,0,14,0,1,3,4
Great BritainÂ (GBR) [GBR] [Z],27,236,272,272,780,22,10,4,12,26,49,246,276,284,806
GreeceÂ (GRE) [Z],27,30,42,39,111,18,0,0,0,0,45,30,42,39,111
GrenadaÂ (GRN),8,1,0,0,1,0,0,0,0,0,8,1,0,0,1
GuatemalaÂ (GUA),13,0,1,0,1,1,0,0,0,0,14,0,1,0,1
GuyanaÂ (GUY) [GUY],16,0,0,1,1,0,0,0,0,0,16,0,0,1,1
HaitiÂ (HAI) [J],14,0,1,1,2,0,0,0,0,0,14,0,1,1,2
Hong KongÂ (HKG) [HKG],15,1,1,1,3,4,0,0,0,0,19,1,1,1,3
HungaryÂ (HUN),25,167,144,165,476,22,0,2,4,6,47,167,146,169,482
IcelandÂ (ISL),19,0,2,2,4,17,0,0,0,0,36,0,2,2,4
IndiaÂ (IND) [F],23,9,6,11,26,9,0,0,0,0,32,9,6,11,26
IndonesiaÂ (INA),14,6,10,11,27,0,0,0,0,0,14,6,10,11,27
IranÂ (IRI) [K],15,15,20,25,60,10,0,0,0,0,25,15,20,25,60
IraqÂ (IRQ),13,0,0,1,1,0,0,0,0,0,13,0,0,1,1
IrelandÂ (IRL),20,9,8,12,29,6,0,0,0,0,26,9,8,12,29
IsraelÂ (ISR),15,1,1,5,7,6,0,0,0,0,21,1,1,5,7
ItalyÂ (ITA) [M] [S],26,198,166,185,549,22,37,34,43,114,48,235,200,228,663
JamaicaÂ (JAM) [JAM],16,17,30,20,67,7,0,0,0,0,23,17,30,20,67
JapanÂ (JPN),21,130,126,142,398,20,10,17,18,45,41,140,143,160,443
KazakhstanÂ (KAZ),5,16,17,19,52,6,1,3,3,7,11,17,20,22,59
KenyaÂ (KEN),13,25,32,29,86,3,0,0,0,0,16,25,32,29,86
North KoreaÂ (PRK),9,14,12,21,47,8,0,1,1,2,17,14,13,22,49
South KoreaÂ (KOR),16,81,82,80,243,17,26,17,10,53,33,107,99,90,296
KuwaitÂ (KUW),12,0,0,2,2,0,0,0,0,0,12,0,0,2,2
KyrgyzstanÂ (KGZ),5,0,1,2,3,6,0,0,0,0,11,0,1,2,3
LatviaÂ (LAT),10,3,11,5,19,10,0,4,3,7,20,3,15,8,26
LebanonÂ (LIB),16,0,2,2,4,16,0,0,0,0,32,0,2,2,4
LiechtensteinÂ (LIE),16,0,0,0,0,18,2,2,5,9,34,2,2,5,9
LithuaniaÂ (LTU),8,6,5,10,21,8,0,0,0,0,16,6,5,10,21
LuxembourgÂ (LUX) [O],22,1,1,0,2,8,0,2,0,2,30,1,3,0,4
MacedoniaÂ (MKD),5,0,0,1,1,5,0,0,0,0,10,0,0,1,1
MalaysiaÂ (MAS) [MAS],12,0,3,3,6,0,0,0,0,0,12,0,3,3,6
MauritiusÂ (MRI),8,0,0,1,1,0,0,0,0,0,8,0,0,1,1
MexicoÂ (MEX),22,13,21,28,62,8,0,0,0,0,30,13,21,28,62
MoldovaÂ (MDA),5,0,2,5,7,6,0,0,0,0,11,0,2,5,7
MongoliaÂ (MGL),12,2,9,13,24,13,0,0,0,0,25,2,9,13,24
MontenegroÂ (MNE),2,0,1,0,1,2,0,0,0,0,4,0,1,0,1
MoroccoÂ (MAR),13,6,5,11,22,6,0,0,0,0,19,6,5,11,22
MozambiqueÂ (MOZ),9,1,0,1,2,0,0,0,0,0,9,1,0,1,2
NamibiaÂ (NAM),6,0,4,0,4,0,0,0,0,0,6,0,4,0,4
NetherlandsÂ (NED) [Z],25,77,85,104,266,20,37,38,35,110,45,114,123,139,376
Netherlands AntillesÂ (AHO) [AHO] [I],13,0,1,0,1,2,0,0,0,0,15,0,1,0,1
New ZealandÂ (NZL) [NZL],22,42,18,39,99,15,0,1,0,1,37,42,19,39,100
NigerÂ (NIG),11,0,0,1,1,0,0,0,0,0,11,0,0,1,1
NigeriaÂ (NGR),15,3,8,12,23,0,0,0,0,0,15,3,8,12,23
NorwayÂ (NOR) [Q],24,56,49,43,148,22,118,111,100,329,46,174,160,143,477
PakistanÂ (PAK),16,3,3,4,10,2,0,0,0,0,18,3,3,4,10
PanamaÂ (PAN),16,1,0,2,3,0,0,0,0,0,16,1,0,2,3
ParaguayÂ (PAR),11,0,1,0,1,1,0,0,0,0,12,0,1,0,1
PeruÂ (PER) [L],17,1,3,0,4,2,0,0,0,0,19,1,3,0,4
PhilippinesÂ (PHI),20,0,2,7,9,4,0,0,0,0,24,0,2,7,9
PolandÂ (POL),20,64,82,125,271,22,6,7,7,20,42,70,89,132,291
PortugalÂ (POR),23,4,8,11,23,7,0,0,0,0,30,4,8,11,23
Puerto RicoÂ (PUR),17,0,2,6,8,6,0,0,0,0,23,0,2,6,8
QatarÂ (QAT),8,0,0,4,4,0,0,0,0,0,8,0,0,4,4
RomaniaÂ (ROU),20,88,94,119,301,20,0,0,1,1,40,88,94,120,302
RussiaÂ (RUS) [RUS],5,132,121,142,395,6,49,40,35,124,11,181,161,177,519
Russian EmpireÂ (RU1) [RU1],3,1,4,3,8,0,0,0,0,0,3,1,4,3,8
Soviet UnionÂ (URS) [URS],9,395,319,296,1010,9,78,57,59,194,18,473,376,355,1204
Unified TeamÂ (EUN) [EUN],1,45,38,29,112,1,9,6,8,23,2,54,44,37,135
Saudi ArabiaÂ (KSA),10,0,1,2,3,0,0,0,0,0,10,0,1,2,3
SenegalÂ (SEN),13,0,1,0,1,5,0,0,0,0,18,0,1,0,1
SerbiaÂ (SRB) [SRB],3,1,2,4,7,2,0,0,0,0,5,1,2,4,7
Serbia and MontenegroÂ (SCG) [SCG],3,2,4,3,9,3,0,0,0,0,6,2,4,3,9
SingaporeÂ (SIN),15,0,2,2,4,0,0,0,0,0,15,0,2,2,4
SlovakiaÂ (SVK) [SVK],5,7,9,8,24,6,2,2,1,5,11,9,11,9,29
SloveniaÂ (SLO),6,4,6,9,19,7,2,4,9,15,13,6,10,18,34
South AfricaÂ (RSA),18,23,26,27,76,6,0,0,0,0,24,23,26,27,76
SpainÂ (ESP) [Z],22,37,59,35,131,19,1,0,1,2,41,38,59,36,133
Sri LankaÂ (SRI) [SRI],16,0,2,0,2,0,0,0,0,0,16,0,2,0,2
SudanÂ (SUD),11,0,1,0,1,0,0,0,0,0,11,0,1,0,1
SurinameÂ (SUR) [E],11,1,0,1,2,0,0,0,0,0,11,1,0,1,2
SwedenÂ (SWE) [Z],26,143,164,176,483,22,50,40,54,144,48,193,204,230,627
SwitzerlandÂ (SUI),27,47,73,65,185,22,50,40,48,138,49,97,113,113,323
SyriaÂ (SYR),12,1,1,1,3,0,0,0,0,0,12,1,1,1,3
Chinese TaipeiÂ (TPE) [TPE] [TPE2],13,2,7,12,21,11,0,0,0,0,24,2,7,12,21
TajikistanÂ (TJK),5,0,1,2,3,4,0,0,0,0,9,0,1,2,3
TanzaniaÂ (TAN) [TAN],12,0,2,0,2,0,0,0,0,0,12,0,2,0,2
ThailandÂ (THA),15,7,6,11,24,3,0,0,0,0,18,7,6,11,24
TogoÂ (TOG),9,0,0,1,1,1,0,0,0,0,10,0,0,1,1
TongaÂ (TGA),8,0,1,0,1,1,0,0,0,0,9,0,1,0,1
Trinidad and TobagoÂ (TRI) [TRI],16,2,5,11,18,3,0,0,0,0,19,2,5,11,18
TunisiaÂ (TUN),13,3,3,4,10,0,0,0,0,0,13,3,3,4,10
TurkeyÂ (TUR),21,39,25,24,88,16,0,0,0,0,37,39,25,24,88
UgandaÂ (UGA),14,2,3,2,7,0,0,0,0,0,14,2,3,2,7
UkraineÂ (UKR),5,33,27,55,115,6,2,1,4,7,11,35,28,59,122
United Arab EmiratesÂ (UAE),8,1,0,0,1,0,0,0,0,0,8,1,0,0,1
United StatesÂ (USA) [P] [Q] [R] [Z],26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681
UruguayÂ (URU),20,2,2,6,10,1,0,0,0,0,21,2,2,6,10
UzbekistanÂ (UZB),5,5,5,10,20,6,1,0,0,1,11,6,5,10,21
VenezuelaÂ (VEN),17,2,2,8,12,4,0,0,0,0,21,2,2,8,12
VietnamÂ (VIE),14,0,2,0,2,0,0,0,0,0,14,0,2,0,2
Virgin IslandsÂ (ISV),11,0,1,0,1,7,0,0,0,0,18,0,1,0,1
YugoslaviaÂ (YUG) [YUG],16,26,29,28,83,14,0,3,1,4,30,26,32,29,87
Independent Olympic ParticipantsÂ (IOP) [IOP],1,0,1,2,3,0,0,0,0,0,1,0,1,2,3
ZambiaÂ (ZAM) [ZAM],12,0,1,1,2,0,0,0,0,0,12,0,1,1,2
ZimbabweÂ (ZIM) [ZIM],12,3,4,1,8,1,0,0,0,0,13,3,4,1,8
Mixed teamÂ (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17
Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579

In [2]:
import pandas as pd

df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

### Question 0 (Example)

What is the first country in df?

*This function should return a Series.*

In [3]:
# You should write your whole answer within the function provided. The autograder will call
# this function and compare the return value against the correct solution value
def answer_zero():
    # This function returns the row for Afghanistan, which is a Series object. The assignment
    # question description will tell you the general format the autograder is expecting
    return df.iloc[0]

# You can examine what your function returns by calling it in the cell. If you have questions
# about the assignment formats, check out the discussion forums for any FAQs
answer_zero()

# Summer           13
Gold                0
Silver              0
Bronze              2
Total               2
# Winter            0
Gold.1              0
Silver.1            0
Bronze.1            0
Total.1             0
# Games            13
Gold.2              0
Silver.2            0
Bronze.2            2
Combined total      2
ID                AFG
Name: Afghanistan, dtype: object

### Question 1
Which country has won the most gold medals in summer games?

*This function should return a single string value.*

In [4]:
def answer_one():
    max_summer_gold = 0
    max_summer_gold_country = None
    for key,value in df['Gold'].items():
        if value > max_summer_gold:
            max_summer_gold = value
            max_summer_gold_country = key
            
    return max_summer_gold_country

answer_one()

'United States'

In [5]:
def answer_one_alt():
    max_summer_gold = 0
    max_summer_gold_country = None
    for country in df.index:
        summer_gold = df['Gold'][country]
        if summer_gold > max_summer_gold:
            max_summer_gold = summer_gold
            max_summer_gold_country = country
    
    return max_summer_gold_country

answer_one_alt()

'United States'

### Question 2
Which country had the biggest difference between their summer and winter gold medal counts?

*This function should return a single string value.*

In [6]:
def answer_two():
    max_difference = 0
    max_difference_country = None
    for key, value in df.T.items():
        difference = abs(value['Gold']-value['Gold.1'])
        if difference > max_difference:
            max_difference = difference
            max_difference_country = key
            
    return max_difference_country

answer_two()

'United States'

In [7]:
def answer_two_alt():
    max_difference = 0
    max_difference_country = None
    for nation in df.index:
        difference = abs(df['Gold'][nation]-df['Gold.1'][nation])
        if difference > max_difference:
            max_difference = difference
            max_difference_country = nation
            
    return max_difference_country

answer_two_alt()

'United States'

### Question 3
Which country has the biggest difference between their summer gold medal counts and winter gold medal counts relative to their total gold medal count? 

$$\frac{Summer~Gold - Winter~Gold}{Total~Gold}$$

Only include countries that have won at least 1 gold in both summer and winter.

*This function should return a single string value.*

In [24]:
def answer_three():
    max_relative_difference = 0
    max_relative_difference_country = None
    have_gold_df = df[(df['Gold'] > 0) & (df['Gold.1'] > 0)]
    for key, value in have_gold_df.T.items():
        relative_difference = abs(value['Gold']-value['Gold.1'])/value['Gold.2']
        if relative_difference > max_relative_difference:
            max_relative_difference = relative_difference
            max_relative_difference_country = key
            
    return max_relative_difference_country

answer_three()

'Bulgaria'

In [23]:
def answer_three_alt():
    max_relative_difference = 0
    max_relative_difference_country = None
    have_gold_df = df[(df['Gold'] > 0) & (df['Gold.1'] > 0)]
    for nation in have_gold_df.index:
        relative_difference = abs(df['Gold'][nation]-df['Gold.1'][nation])/df['Gold.2'][nation]
        if relative_difference > max_relative_difference:
            max_relative_difference = relative_difference
            max_relative_difference_country = nation
            
    return max_relative_difference_country

answer_three_alt()

'Bulgaria'

### Question 4
Write a function that creates a Series called "Points" which is a weighted value where each gold medal (`Gold.2`) counts for 3 points, silver medals (`Silver.2`) for 2 points, and bronze medals (`Bronze.2`) for 1 point. The function should return only the column (a Series object) which you created, with the country names as indices.

*This function should return a Series named `Points` of length 146*

In [20]:
def answer_four_alt():
    points = []
    for nation in df.index:
        points.append((df['Gold.2'][nation]*3)+(df['Silver.2'][nation]*2)+(df['Bronze.2'][nation]*1))
    
    return pd.Series(points, index = df.index)

answer_four_alt()

Afghanistan                            2
Algeria                               27
Argentina                            130
Armenia                               16
Australasia                           22
Australia                            923
Austria                              569
Azerbaijan                            43
Bahamas                               24
Bahrain                                1
Barbados                               1
Belarus                              154
Belgium                              276
Bermuda                                1
Bohemia                                5
Botswana                               2
Brazil                               184
British West Indies                    2
Bulgaria                             411
Burundi                                3
Cameroon                              12
Canada                               846
Chile                                 24
China                               1120
Colombia                              29
Costa Rica                             7
Ivory Coast                            2
Croatia                               67
Cuba                                 420
Cyprus                                 2
                                    ...
Spain                                268
Sri Lanka                              4
Sudan                                  2
Suriname                               4
Sweden                              1217
Switzerland                          630
Syria                                  6
Chinese Taipei                        32
Tajikistan                             4
Tanzania                               4
Thailand                              44
Togo                                   1
Tonga                                  2
Trinidad and Tobago                   27
Tunisia                               19
Turkey                               191
Uganda                                14
Ukraine                              220
United Arab Emirates                   3
United States                       5684
Uruguay                               16
Uzbekistan                            38
Venezuela                             18
Vietnam                                4
Virgin Islands                         2
Yugoslavia                           171
Independent Olympic Participants       4
Zambia                                 3
Zimbabwe                              18
Mixed team                            38
Length: 146, dtype: int64

In [10]:
def answer_four():
    df['Points'] = None
    for nation in df.index:
        df['Points'][nation] = (df['Gold.2'][nation]*3)+(df['Silver.2'][nation]*2)+(df['Bronze.2'][nation]*1)
    
    return df['Points']

answer_four()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

Afghanistan                            2
Algeria                               27
Argentina                            130
Armenia                               16
Australasia                           22
Australia                            923
Austria                              569
Azerbaijan                            43
Bahamas                               24
Bahrain                                1
Barbados                               1
Belarus                              154
Belgium                              276
Bermuda                                1
Bohemia                                5
Botswana                               2
Brazil                               184
British West Indies                    2
Bulgaria                             411
Burundi                                3
Cameroon                              12
Canada                               846
Chile                                 24
China                               1120
Colombia                              29
Costa Rica                             7
Ivory Coast                            2
Croatia                               67
Cuba                                 420
Cyprus                                 2
                                    ...
Spain                                268
Sri Lanka                              4
Sudan                                  2
Suriname                               4
Sweden                              1217
Switzerland                          630
Syria                                  6
Chinese Taipei                        32
Tajikistan                             4
Tanzania                               4
Thailand                              44
Togo                                   1
Tonga                                  2
Trinidad and Tobago                   27
Tunisia                               19
Turkey                               191
Uganda                                14
Ukraine                              220
United Arab Emirates                   3
United States                       5684
Uruguay                               16
Uzbekistan                            38
Venezuela                             18
Vietnam                                4
Virgin Islands                         2
Yugoslavia                           171
Independent Olympic Participants       4
Zambia                                 3
Zimbabwe                              18
Mixed team                            38
Name: Points, Length: 146, dtype: object

## Part 2
For the next set of questions, we will be using census data from the [United States Census Bureau](http://www.census.gov). Counties are political and geographic subdivisions of states in the United States. This dataset contains population data for counties and states in the US from 2010 to 2015. [See this document](https://www2.census.gov/programs-surveys/popest/technical-documentation/file-layouts/2010-2015/co-est2015-alldata.pdf) for a description of the variable names.

The census dataset (census.csv) should be loaded as census_df. Answer questions using this as appropriate.

### Question 5
Which state has the most counties in it? (hint: consider the sumlevel key carefully! You'll need this for future questions too...)

*This function should return a single string value.*

In [11]:
census_df = pd.read_csv('census.csv', encoding='cp1252')
census_df.head(10)

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411
6,50,3,6,1,11,Alabama,Bullock County,10914,10915,10887,...,-30.953709,-5.180127,-1.130263,14.354290,-16.167247,-29.001673,-2.825524,1.507017,17.243790,-13.193961
7,50,3,6,1,13,Alabama,Butler County,20947,20946,20944,...,-14.032727,-11.684234,-5.655413,1.085428,-6.529805,-13.936612,-11.586865,-5.557058,1.184103,-6.430868
8,50,3,6,1,15,Alabama,Calhoun County,118572,118586,118437,...,-6.155670,-4.611706,-5.524649,-4.463211,-3.376322,-5.791579,-4.092677,-5.062836,-3.912834,-2.806406
9,50,3,6,1,17,Alabama,Chambers County,34215,34170,34098,...,-2.731639,3.849092,2.872721,-2.287222,1.349468,-1.821092,4.701181,3.781439,-1.290228,2.346901

In [12]:
def answer_five():
    census_df_50 = census_df[census_df['SUMLEV'] == 50]

    stname_set = set(census_df_50['STNAME'])
    stname_max = 0
    stname_max_county = None
    for stname in stname_set:
        stname_count = census_df_50[census_df_50['STNAME'] == stname]['STNAME'].count()
        if stname_count > stname_max:
            stname_max = stname_count
            stname_max_county = stname
    return stname_max_county

answer_five()

'Texas'

### Question 6
**Only looking at the three most populous counties for each state**, what are the three most populous states (in order of highest population to lowest population)? Use `CENSUS2010POP`.

*This function should return a list of string values.*

In [13]:
def answer_six():
    census_df_50 = census_df[census_df['SUMLEV'] == 50]
    census_df_50_sort = census_df_50.sort_values(by=['STNAME','CENSUS2010POP'],ascending=[True,False])

    state_set = set(census_df_50['STNAME'])
    pop_series = pd.Series()
    for state in state_set:
        state_pop = census_df_50_sort[census_df_50_sort['STNAME'] == state]['CENSUS2010POP'][:3].tolist()
        pop_series[state] = sum(state_pop)
    pop_series_sort = pop_series.sort_values(ascending=False)

    return pop_series_sort.index.tolist()[:3]

answer_six()

['California', 'Texas', 'Illinois']

### Question 7
Which county has had the largest absolute change in population within the period 2010-2015? (Hint: population values are stored in columns POPESTIMATE2010 through POPESTIMATE2015, you need to consider all six columns.)

e.g. If County Population in the 5 year period is 100, 120, 80, 105, 100, 130, then its largest change in the period would be |130-80| = 50.

*This function should return a single string value.*

In [14]:
def answer_seven():
    census_df_50 = census_df[census_df['SUMLEV'] == 50]
    
    pop_change_largest = 0
    pop_change_largest_county = None
    for key,value in census_df_50.T.items():
        pop = [value['POPESTIMATE2010'],
               value['POPESTIMATE2011'],
               value['POPESTIMATE2012'],
               value['POPESTIMATE2013'],
               value['POPESTIMATE2014'],
               value['POPESTIMATE2015']]
        pop_change = max(pop) - min(pop)
        if pop_change > pop_change_largest:
            pop_change_largest = pop_change
            pop_change_largest_county = value['CTYNAME']

    return pop_change_largest_county

answer_seven()

'Harris County'

### Question 8
In this datafile, the United States is broken up into four regions using the "REGION" column. 

Create a query that finds the counties that belong to regions 1 or 2, whose name starts with 'Washington', and whose POPESTIMATE2015 was greater than their POPESTIMATE 2014.

*This function should return a 5x2 DataFrame with the columns = ['STNAME', 'CTYNAME'] and the same index ID as the census_df (sorted ascending by index).*

In [15]:
def answer_eight():
    census_df_50 = census_df[census_df['SUMLEV'] == 50]
    
    census_df_50 = census_df_50[((census_df_50['REGION'] == 1) | (census_df_50['REGION'] == 2))
                            & (census_df_50['CTYNAME'].str[:10] == 'Washington')
                            & (census_df_50['POPESTIMATE2015'] > census_df_50['POPESTIMATE2014'])]
    columns_to_include = ['STNAME','CTYNAME']
    return census_df_50[columns_to_include]

answer_eight()

            STNAME            CTYNAME
896           Iowa  Washington County
1419     Minnesota  Washington County
2345  Pennsylvania  Washington County
2355  Rhode Island  Washington County
3163     Wisconsin  Washington County